<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('Item')">
</head>
<body>
<header th:replace="common/template_menu::header">
</header>

<div id="Content">
    <div id="BackLink">
        <a th:href="@{'/catalog/product?productId='+${product.productId}}" th:text="'Return to'+ ${product.productId}"></a>
    </div>

    <div id="Catalog">

        <table>
            <tr>
                <td th:utext="${product.description}"></td>
            </tr>
            <tr>
                <td><b th:text="${item.itemId}"> </b></td>
            </tr>
            <tr>
                <td><b th:value="|${item.attribute1},${item.attribute2},${item.attribute3},
                    ${item.attribute4},${item.attribute5},${product.name}|"> </b></td>
            </tr>
            <tr>
                <td th:text="${product.name}"></td>
            </tr>
            <tr>
                <td>
                    <a th:if="${item.quantity <= 0}">Back ordered.</a>
                    <a th:if="${item.quantity > 0}" th:text="${item.quantity}+'in stock.'"> </a>
                </td>
            </tr>
            <tr>
                <td th:text="${#numbers.setFormatCurrency(item.listPrice)}">
                    <!--pattern="$#,##0.00" -->
                </td>
            </tr>

            <tr>
                <td>
                    <a class="Button" th:href="@{'/cart/addItemToCart?workingItemId='+${item.itemId}}">Add to Cart</a>
                </td>
            </tr>
        </table>

    </div>
</div>

    <footer th:replace="common/template_menu::footer">
</footer>
</body>
</html>